<div id="distributeButtons">
    <button mat-fab id="cancelButton" (click)="this.onCancel()">
        <mat-icon>close</mat-icon>
    </button>
    @if (this.ready | async) {
        <button mat-fab id="submitButton" type="submit" (click)="this.onSubmit()">
            <mat-icon>done</mat-icon>
        </button>
    }
    @else {
        @if (!this.first) {
            <button mat-fab id="submitButton" type="submit" (click)="this.previousNation()">
                <mat-icon>arrow_back</mat-icon>
            </button>
        }
        @if (!this.last) {
            <button mat-fab id="submitButton" type="submit" (click)="this.nextNation()">
                <mat-icon>arrow_forward</mat-icon>
            </button>
        }
    }
</div>