<mat-card [ngClass]="this.appearanceClass">
    <mat-card-header>
        <mat-card-title>{{ this.army.name }}</mat-card-title>
        <mat-card-subtitle>{{ this.army.startsOn }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content [style.visibility]="this.troopVisibility">
        <div class="troops">
            @for (item of (this.troopStates$) | async; track item[0]) {
                @if (item[1]) { 
                    <mat-icon (click)='onClick(item)'>face</mat-icon>
                }
                @else {
                    <mat-icon (click)='onClick(item)'>home</mat-icon>
                }
            }
        </div>
        <span class="troopsCount">{{ this.army.troops }} / {{ this.army.maxTroops }}</span>
    </mat-card-content>
</mat-card>