<mat-card>
    <mat-card-header>
        <mat-card-title>{{ this.army.name }}</mat-card-title>
        <mat-card-subtitle>{{ this.army.startsOn }}</mat-card-subtitle>
        <mat-card-subtitle [style.visibility]="this.troopVisibility">{{ this.army.troops }} / {{ this.army.maxTroops }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        @for (item of (this.troopStates$) | async; track item[0]) {
            @if (item[1]) { 
                <mat-icon [style.visibility]="this.troopVisibility" (click)='onClick(item)'>face</mat-icon>
            }
            @else {
                <mat-icon [style.visibility]="this.troopVisibility" (click)='onClick(item)'>home</mat-icon>
            }
        }
    </mat-card-content>
</mat-card>