<app-nav [activeNation]="(this.nationName)"></app-nav>
<div class="nationHeader">
    <title>{{ this.nationName }}</title>
    <div>
        <span>Total troops: </span>
        <span>{{ this.troops$ | async }} / {{ this.maxTroops }}</span>
    </div>
</div>
@for (army of this.armies$ | async; track $index) {
    <app-army [army]="army" 
        [editMode]="this.editMode$" 
        [remaining]="(this.remainingTroops$ | async) ?? 0" 
        (troopsChanged)="this.updateArmy($event)">
    </app-army>
}
<div id="nationChilds">
    <router-outlet></router-outlet>
</div>