<mat-card>
    <mat-card-header>
        <mat-card-title>{{ this.name$ | async }}</mat-card-title>
        <mat-card-subtitle>{{ this.startsOn$ | async }}</mat-card-subtitle>
        <mat-card-subtitle>{{ this.troopString$ | async }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        @for (item of (this.troopStates$) | async; track item[0]) {
            @if (item[1]) { 
                <mat-icon (click)='onClick(item)'>face</mat-icon>
            }
            @else {
                <mat-icon (click)='onClick(item)'>home</mat-icon>
            }
        }
    </mat-card-content>
</mat-card>