<form id="nationSelectForm" (ngSubmit)="onSubmit()">
    <div id="nationButtons">
        <mat-button-toggle-group multiple>
            @for (nation of this.nations; track nation) {
                <mat-button-toggle class="nationToggle" type="button" ngDefaultControl 
                    (change)="onChange(nation.name)" 
                    [name]="nation.name" 
                    [value]="false">{{ nation.name }}
                </mat-button-toggle>
            }
        </mat-button-toggle-group>
        <!-- </mat-button-toggle-group [(ngModel)]="this.picked[nation.name]" > -->
    </div>
    <div id="nationSubmit">
        <button mat-fab type="submit"><mat-icon fontIcon="done" /></button>
    </div>
</form>