<nav>
    @for (name of this.nationNames; track name) {
        @if (this.activeNation == name) {
            <label>{{ name }}</label>
        }
        @else {
            <a [routerLink]="this.navigateTo(name)">{{ name }}</a>
        }
    }
    <button mat-button [matMenuTriggerFor]="menu"><mat-icon fontIcon="menu"></mat-icon></button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="this.endGame()">End game</button>
        <button mat-menu-item>Item 2</button>
    </mat-menu>
</nav>